.m2{
    height: 100%;
    width: 50%;
    padding: 58px 118px;
    background-color: rgba(0, 0, 0, 0.71);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    margin: 28px;
    box-shadow: 4px 2px 12px 8px  bisque;
}

.m2 h1{
    font-size: 52px;
    font-family: Mulish;
    font-weight: 600;
    color: rgb(31, 31, 31);
    transform: translateX(-68px);
}

.m2 h2{
    font-size: 32px;
    font-family: helvetica;
    font-weight: 400;
    color: gray;
    margin-top: 18px;
   
}

.m2 input{
    padding: 15px 20px;
    width: 285px;

}

.m2 button{
    padding: 15px 24px;
    background-color:darkgreen;
    color: aliceblue;
    border: 8px;
    border-radius: 8px;
    font-family: gilroy;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 28px;
}